#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define  HOST_OS 2
#include "zmk-helpers/helper.h"

#define DEF 0
#define SYS 1

#define XXX &none
#define ___ &trans

/* Keymap */
ZMK_LAYER(base,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp ESC       ___           ___           ___           &kp R           ___           ___          ___           ___           &kp RET 
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp A         &kp S         &kp D         ___           ___             &kp J         &kp K        &kp L         &kp SPACE     ___
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___             &kp M         &kp COMMA    &kp DOT       &kp U         ___
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                              &kp W         &kp W           &kp SPACE     &kp SPACE
//                                          ╰─────────────┴─────────────╯╰─────────────┴─────────────╯                                          
)

ZMK_COMBO(sys_enter, &tog SYS, LT4 LT3, LT2 RT2 RT3 RT4, DEF SYS)
ZMK_LAYER(sys,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR      ___           ___           ___           ___           ___          
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           &bootloader    &bootloader   ___           ___           ___           ___          
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           &sys_reset     &sys_reset    ___           ___           ___           ___          
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                              ___           ___            ___           ___                                                    
//                                          ╰─────────────┴─────────────╯╰─────────────┴─────────────╯                                          
)

