name: Draw ZMK keymaps
on:
  workflow_call:
    inputs:
      destination:
        description:
          "Add the output files to a commit, as artifacts or both, values:
          `commit`, `artifact`, `both`"
        default: "artifact"
        required: false
        type: string
  workflow_dispatch:
    inputs:
      destination:
        description:
          "Add the output files to a commit, as artifacts or both, values:
          `commit`, `artifact`, `both`"
        default: "artifact"
        required: false
        type: string
  push:
    paths:
      - "config/*.keymap"
      - "config/*.dtsi"
      - "keymap_drawer.config.yaml"

jobs:
  draw:
    # uses: stijnveenman/keymap-drawer/.github/workflows/draw-zmk.yml@feature/west-init
    # use below once https://github.com/caksoylar/keymap-drawer/pull/107 has been merged
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    permissions:
      contents: write
    with:
      keymap_patterns: "config/cradio.keymap"
      config_path: "keymap_drawer.config.yaml"
      destination: ${{ inputs.destination }}
      west_config_path: "./config/"
